.container {
    // background-image: url("../img/vue.jpg");
    display: flex;
    display: flex;
    align-items: center;
    width: 200px;
    height: 500px;
    background-color: pink;


    &-header {
        .user {
            &-avatar {
                width: 100px;
                height: 100px;
            }

            &-name {
            }
        }
    }

    &-body {
        &__list {

            &--item {}
        }
    }

}